<template>
  <div class="completePage">
    <Header />
    <div class="container divTitle">
      <h1 style="color: white">
        <svg xmlns="http://www.w3.org/2000/svg" style="color:#03afaf" width="35" height="35" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
          <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
        </svg> Listado de personas
      </h1>
      <button type="button" class="btn btn-outline-primary" v-on:click="fnEditar(-1)">Agregar Nuevo</button>
    </div>
    <div class="container">
      <div class="col-md-12 fila">
          <div class="col-md-1"></div>
          <div class="col-md-3">Email</div>
          <div class="col-md-3">Nombre</div>
          <div class="col-md-3">Apellido</div>
          <div class="col-md-2">Foto</div>
      </div>
      <div style="overflow-y: auto; height: 65vh; overflow-x: hidden;">
        <div class="col-md-12 fila" style="background-color: #242b2f; cursor: pointer;" v-for="persona in ListaPersonas" :key="persona.id" v-on:click="fnEditar(persona.id)">
          <div class="col-md-1" style="display: flex; justify-content: center;">
            <div class="cuadro">
              <label>{{persona.id}}</label>
            </div>
          </div>
          <div class="col-md-3">{{persona.email}}</div>
          <div class="col-md-3">{{persona.first_name}}</div>
          <div class="col-md-3">{{persona.last_name}}o</div>
          <div class="col-md-2"><img src="persona.avatar" class="img-fluid img-thumbnail"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import axios from 'axios';
import Vue from 'vue';

export default {
  name: "Dashboard",
  data(){
      return {
          ListaPersonas: null,
          pagina:2
      }
  },

  components: {
    Header,
  },

  methods:{
    fnEditar(id){
      this.$router.push('/editar/' + id);
    }
  },

  async mounted()
  {
      let direccion = "https://reqres.in/api/users?page=" + this.pagina;
      try {
          let data = await axios.get(direccion);
          this.ListaPersonas = data.data.data;
      } catch (error) {
          console.log(error)
          Vue.$toast.error('Algo salio mal.'+ error)
      }
  }
};
</script>

<style scoped>

.completePage{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.container {
  padding: 2rem 0rem;
}

.divTitle{
  display:flex; 
  justify-content: space-between; 
  padding: 2rem 0rem 0rem;
}

.fila{
  display: flex;
    height: 60px;
    margin: 5px;
    align-items: center;
    border-radius: 1rem;
  color: #8d8d8d;
}

.cuadro{
  height: 40px; 
  width: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border: solid 2px #03afaf; 
  background-color: #272727;
}
</style>