<template>
  <div class="completePage">
    <Header />
    <div class="wrapper">
      <div class="container" style="display: flex; justify-content: center">
        <h1 v-if="personaId > 0" style="color: #8d8d8d">Editar Persona</h1>
        <h1 v-if="personaId == -1" style="color: #8d8d8d">Nueva Persona</h1>
      </div>
      <div class="container" id="formContent">
        <form action="" class="form-horizontal">
          <div v-if="personaId > 0" class="form-group fila">
            <label for="" class="col-sm-2">Id</label>
            <div class="col-sm-10">
              <label for="" class="col-sm-2">{{ personaId }}</label>
            </div>
          </div>
          <div class="form-group fila">
            <label for="" class="col-sm-2">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="email" id="email" v-model="form.email"/>
            </div>
          </div>
          <div class="form-group fila">
            <label for="" class="col-sm-2">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="first_name" id="first_name" v-model="form.first_name"/>
            </div>
          </div>
          <div class="form-group fila">
            <label for="" class="col-sm-2">Apellido</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="last_name" id="last_name" v-model="form.last_name"/>
            </div>
          </div>
          <div v-if="personaId > 0" class="form-group fila">
            <label for="" class="col-sm-2">Avatar</label>
            <div class="col-sm-10">
              <img src="form.avatar" class="img-fluid img-thumbnail" />
            </div>
          </div>
          <div class="form-group">
            <button v-if="personaId > 0" type="button" class="btn btn-outline-info" v-on:click="fnEditar()">Editar</button>
            <button v-if="personaId == -1" type="button" style="margin-right: 20px" class="btn btn-outline-info" v-on:click="fnCrear()">Crear</button>
            <button v-if="personaId > 0" style="margin-left: 20px; margin-right: 20px" type="button" class="btn btn-outline-danger" v-on:click="fnEliminar()">Eliminar</button>
            <button type="button" class="btn btn-outline-secondary" v-on:click="fnSalir()">Salir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import axios from "axios";
import Vue from 'vue';

export default {
  name: "Editar",
  components: {
    Header,
  },

  data() {
    return {
      personaId: null,
      form: {
        email: "",
        first_name: "",
        last_name: "",
        avatar: "",
      },
    };
  },

  methods: {
    async fnEditar() {
      let direccion = "https://reqres.in/api/users/" + this.personaId;
      try {
        let data = await axios.put(direccion, this.form);
        if(data.status == 200){
          Vue.$toast.success('Modificado correctamente.');
          this.$router.push("/dashboard");
        }else{
          Vue.$toast.error('Algo salio mal.')
        }
      } catch (error) {
        console.log(error);
        Vue.$toast.error('Algo salio mal.'+ error)
      }
    },

    async fnCrear() {
      let direccion = "https://reqres.in/api/users";
      try {
        this.form.avatar = "https://reqres.in/img/faces/7-image.jpg"; //Lo asigno asi para no cargar una imagen
        let data = await axios.post(direccion, this.form);
        if(data.status == 201){
          Vue.$toast.success('Agregado correctamente.');
          this.$router.push("/dashboard");
        }else{
          Vue.$toast.error('Algo salio mal.')
        }
      } catch (error) {
        console.log(error);
        Vue.$toast.error('Algo salio mal.'+ error)
      }
    },

    async fnEliminar() {
      let direccion = "https://reqres.in/api/users/" + this.personaId;
      try {
        let data = await axios.delete(direccion);
        if(data.status == 204){
          Vue.$toast.success('Eliminado correctamente.')
          this.$router.push("/dashboard");
        }else{
          Vue.$toast.error('Algo salio mal.')
        }
      } catch (error) {
        console.log(error);
        Vue.$toast.error('Algo salio mal.'+ error)
      }
    },

    fnSalir() {
      this.$router.push("/dashboard");
    },
  },

  async mounted() {
    this.personaId = this.$route.params.id;
    if (this.personaId > 0) {
      let direccion = "https://reqres.in/api/users/" + this.personaId;
      try {
        let data = await axios.get(direccion);
        this.form.email = data.data.data.email;
        this.form.first_name = data.data.data.first_name;
        this.form.last_name = data.data.data.last_name;
        this.form.avatar = data.data.data.avatar;
        this.form.id = this.personaId;
        this.form.token = localStorage.getItem("token");
      } catch (error) {
        this.$router.push("/dashboard");
        console.log(error);
        Vue.$toast.error('Algo salio mal.'+ error)
      }
    }
  },
};
</script>

<style scoped>
.completePage{
  overflow: hidden; 
  width: 100vw; 
  height: 100vh
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 94vh;
  padding: 20px;
  background-color: #000;
}

#formContent {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #242b2f;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  position: relative;
  text-align: center;
}

.fila {
  text-align: left;
  display: flex;
  margin: 20px;
  align-items: center;
}

input[type="text"] {
  background-color: #696f77;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

label {
  color: #fff;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
</style>