<template>
    <div>
        <b-navbar class="navbar" toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#" style="margin-left: 30px;">
                <img src="@/assets/logo.png" id="icon" width="30px" alt="User Icon" />
            </b-navbar-brand>
            <div style="float: right; margin-right: 30px;">
                <button type="button" class="btn buttonLogout" v-on:click="cerrarSesion()">Cerrar sesión</button>
            </div>
        </b-navbar>
    </div>
</template>

<script>
export default {
  methods: {
    cerrarSesion(){
        localStorage.removeItem('token');
        this.$router.push("/");
    }
  }
};
</script>

<style scoped>
.navbar{
    background-color: #242b2f !important;
    display: flex; 
    justify-content: space-between;
}

.buttonLogout{
    background-color: #242b2f;
    color: white;
}

.buttonLogout:hover{
    color: white;
}
</style>